fieldset{ 
    box-sizing: border-box;
    background: rgb(32, 68, 57);
    color: rgb(209, 28, 68);
    font-size: larger;
    font-weight: bolder;
    padding: 2rem;
    margin: 0;
    border-radius: 1rem;
}
label{
    display: block;
}
textarea{
    width: 100%;
}
button{
    background-color: rgb(21, 141, 141);
    color: rgb(126, 41, 104);
    font-weight: bolder;
}